html {
    font-family: sans-serif;
}

body {

}

header {
    background-image: url('../images/gradient-2.png');
    background-repeat: no-repeat;
    background-size: auto;
    color: white;
    text-align: center;
}

header.h1 {
    font-size: 4.4em;
    line-height: 1.2em;
    font-weight: 500;
    margin: 0;
    text-wrap: balanced;
    color: #fff;
    width: 100%;
    display: block
}

section {
    width: 50%;
    color: #111;
}

footer {
     background: #f7fbfb;
}
