html {
    font-family: sans-serif;
    line-height: 1.15;
}

body {

}

header {
    height: 351px;
    text-align: center;
    background: #f7fbfb;
}

section {
    margin: 60px auto;
    width: 70%;
}

footer {
     background: #f7fbfb;
}
