html {
    font-family: sans-serif;
}

body {

}

header {
    background-image: url('../images/gradient-2.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    text-align: center;
}

section {
    width: 50%;
    color: #111;
    max-width: 655px;
}

footer {
     background: #f7fbfb;
}
