<!DOCTYPE html>
<html>
  <head>

    <title>{{ page.title }}</title>

    <link rel="stylesheet" type="text/css" href="/css/main.css">

  </head>

  <body>

    <div class="body-container">

      <div class="header-container">

        <div class="Nav">

          <p>Navigation here</p>

        </div>

        <div class="Title">

          <h1 class="Name"><strong>{{ page.title }}</strong></h1>

          <p>{{ page.date | date: "%B %-d %Y"}}</p>

        </div>

      </div>

      <div class="content-container">

        <div class="Post">

          <div class="Article">

            {{ content }}

          </div>

        </div>

        <div class="Tags">

          <p>Tags here</p>

        </div>

      </div>

      <div class="footer-container">

          <p>Footer here</p>

      </div>

    </div>

  </body>

</html>
