<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>

  <body>

  <header>
    
    <h1>{{ page.title }}</h1>
    <p class="meta">{{ page.date | date: "%B %-d %Y"}}</p>
    
  </header>
    
<div class="container">

  {{ content }}

</div>
  
  <footer>
    
   <ul>
   <li><a href="mailto:hankquinlanhub@gmail.com">email</a></li>
   <li><a href="https://github.com/hankquinlan">github.com/hankquinlan</a></li>
   </ul>
    
  </footer>
    
  </body>

</html>
